/* Start var. */
:root {
    --main-color: #00c7fc;
    --secondery-color: #333;
    --transition: 0.3s
}

/* End var. */

html {
    scroll-behavior: smooth;
}

/* Start Pricing */

.pricing {
    margin-top: 60px;
    margin-bottom: 60px;
}

.pricing .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.pricing .cards .card {
    padding: 50px;
    text-align: center;
    margin-bottom: 30px;
    transition: var(--transition);
    cursor: pointer;
    border-radius: 20px;
    opacity: 0.9;
}

.pricing .cards .card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: translate(0, -7px);
}

.pricing .cards .card h3 {
    font-size: 17px;
    text-align: center;
    font-weight: bold;
}

.pricing .cards .card p {
    font-size: 35px;
    padding-top: 20px;
    font-weight: 700;
    color: var(--main-color);
}

.pricing .cards .card p span {
    font-size: 10px;
    font-weight: 400;
    color: black;
}

.pricing .cards .card div {
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 15px;
    font-weight: bold;
}

.pricing .cards .card div::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    margin-bottom: 40px;
    background-color: var(--main-color);
}

.cards+p {
    text-align: center;
    font-weight: bold;
    margin-top: -30px;
    font-size: 20px;

}

.btn {
    padding: 10px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: 2px solid var(--main-color);
    border-radius: 10px;
    font-weight: bold;
    background-color: white;
    transition: var(--transition);
    cursor: pointer;
}

.btn:hover {
    background-color: var(--main-color);
    color: white;
}

.subscribe {
    margin-bottom: 60px;
    margin-top: 60px;
    background-color: var(--secondery-color);
    width: 100%;
    height: 300px;
    box-shadow: 0px 0px 15px 5px var(--secondery-color)
}

.subscribe p {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin-bottom: 30px;
}


form {
    display: flex;
    justify-content: center;
    align-items: center;
}

form #mail {
    padding: 20px;
    margin-right: 20px;
    margin-left: 10px;
    border: 1px solid #eee;
    border-radius: 10px;
    outline: none;
    width: 400px;
    background-color: white;
    transition: var(--transition);
}

form #mail:focus {
    background-color: var(--secondery-color);
    color: white;
}

form #mail:hover {
    background-color: var(--secondery-color);
    color: white;
}


form .submit {
    padding: 20px;

    border-radius: 10px;
    outline: none;
    font-weight: bold;
    background-color: white;
    border: none;
    cursor: pointer;
    transition: var(--transition);
}

@media (max-width:992px) {
    form .submit {
        margin-right: 10px;
    }

    form #mail {
        margin-left: 10px;
    }
}

form .submit:hover {
    background-color: var(--secondery-color);
    color: white;
}

/* End Pricing */