/* Start var. */
:root {
    --main-color: #00c7fc;
    --secondery-color: #333;
    --transition: 0.3s
}

/* End var. */

html {
    scroll-behavior: smooth;
}

/* Start Services */

.services {
    margin-top: 60px;
    margin-bottom: 60px;
}

.services .container .col {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.services .container .col .service {
    gap: 20px;
    padding: 30px;
    position: relative;
    transition: var(--transition);
    cursor: pointer;

}

.services .container .col .service:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: translate(0, -7px);
}

@media (max-width: 767px) {
    .services .container .col .service {
        flex-direction: column;
        text-align: center;
    }
}

.services .container .col .service a {
    font-size: 35px;
    color: var(--secondery-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;


}

.services .container .col .service h2 {
    font-size: 24px;
    color: var(--main-color);
    font-weight: 700;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services .container .col .service p {
    font-size: 14px;
    line-height: 2;
    color: var(--secondery-color);
    text-align: center;
}

.design-sec {
    display: flex;
    justify-content: space-between;
    background-color: var(--secondery-color);
    margin-top: 50px;
    padding: 60px;
    border-radius: 30px;
    position: relative;
    z-index: -10;
    width: 100%;
    box-shadow: 0px 0px 20px 10px var(--secondery-color);
}


.design-sec .image {
    position: relative;
    top: 60px;
}

@media (max-width: 992px) {
    .design-sec .image {
        display: none;
    }

}

.design-sec .image .one {
    position: relative;
    left: -60px;
    z-index: -2;
}

.design-sec .design h2 {
    color: white;
    padding-bottom: 50px;
}

.design-sec .design ul li {
    padding-bottom: 20px;
    color: white;
    cursor: pointer;
    margin-right: -50px;
    transition: var(--transition);
}


.design-sec .design ul i {
    font-size: 20px;
    color: white;
    padding: 20px;
}

/* End Services */